.slick-dots {
  bottom: -60px;
}

.slick-dots li button:before {
  color: #6940ff;
  content: "—";
  width: 31px;
  height: 2px;
  font-size: 40px;
  line-height: 0;
  opacity: 0.25;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #6940ff;
}
